* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background-color: #c2c2c2;
}
#header {
    display: flex;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
}
#logo h2:first-child{
    display: inline;
    color: rgb(201, 61, 54);
}
#logo h2:last-child{
    display: inline;
    color: rgb(109, 198, 50);
}
#nav a {
    margin: 0 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#nav a:hover {
    text-decoration: underline;
}
#content {
    margin: 20px;
    display: flex;
}
.text-container h1 {
    margin: 10px;
    font-weight: bold;
}
.text-container p:last-child {
    font-weight: bold;
}
.image-caption {
    display: inline-block;
    position: relative;
}
.image-caption img {
    margin: 10px;
    height: 500px;
    width: 330px;
    object-fit: cover;
}
.image-caption p {
    position: absolute;
    right: 5%;
}
.image-caption p:first-of-type {
    bottom: 10%;
    background-color: rgb(255, 255, 255);
}
.image-caption p:last-of-type {
    bottom: 5%;
    background-color: rgb(109, 198, 50);
}